[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "about"
postsPerPage = 3
noPostsMessage = "Ничего не найдено"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "post"
==

{% set aboutItems = blogPosts.posts %}

<div class="card">
    {% for about in aboutItems %}
    <div class="card__item">
        <div class="card__inner">
            <div class="card__img">
                {% for image in about.featured_images|slice(0, 1) %}
                    <img src="{{ image.path }}" alt="{{ about.title }}">
                {% endfor %}
            </div>
            <div class="card__text">{{ about.title }}</div>
        </div>
    </div>
    {% else %}
        {{ noPostsMessage }}
    {% endfor %}
</div>
