[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "clients"
postsPerPage = 10
noPostsMessage = "Ничего не найдено"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "post"
==

{% set clients = blogPosts.posts %}


<div class="clients">
    {% for client in clients %}
    <div class="clients__item">
        {% for image in client.featured_images|slice(0, 1) %}
            <img class="clients__photo" src="{{ image.path }}" alt="{{ client.title }}">
        {% endfor %}
        <div class="clients__content">
            <div class="clients__name">{{ client.title }}</div>
            <div class="clients__prof">{{ client.excerpt|raw }}</div>
            <div class="clients__text">{{ client.content_html|raw }}</div>
        </div>
    </div>
    {% else %}
        {{ noPostsMessage }}
    {% endfor %}
</div><!-- /.clients -->
