[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "blog"
postsPerPage = 3
noPostsMessage = "Статей нет"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "post"
==

{% set posts = blogPosts.posts %}

<div class="blogs">
    {% for post in posts %}
    <div class="blogs__item">
        {% for image in post.featured_images|slice(0, 1) %}
            <img class="blogs__img" src="{{ image.path }}" alt="{{ post.title }}">
        {% endfor %}
        <div class="blogs__content">
            <a class="blogs__title" href="{{ post.url }}">{{ post.title }}</a>
            <div class="blogs__date">{{ post.published_at|date('M d, Y') }}</div>
        </div>
    </div>
    {% else %}
        {{ noPostsMessage }}
    {% endfor %}
</div><!-- /.blogs -->
