[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "logos"
postsPerPage = 10
noPostsMessage = "Ничего не найдено"
sortOrder = "published_at asc"
categoryPage = "home"
postPage = "post"
==

{% set logos = blogPosts.posts %}

<div class="logos">
    {% for logo in logos %}
    <div class="logos__item">
        {% for image in logo.featured_images|slice(0, 1) %}
            <img class="logos__img" src="{{ image.path }}" alt="{{ logo.title }}">
        {% endfor %}
    </div>
    {% else %}
        {{ noPostsMessage }}
    {% endfor %}
</div>
