[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "reviews"
postsPerPage = 10
noPostsMessage = "Ничего не найдено"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "post"
==

{% set reviews = blogPosts.posts %}

<div class="reviews">
    <div data-slider>
        {% for review in reviews %}
        <div>
            <div class="reviews__item">
                {% for image in review.featured_images|slice(0, 1) %}
                    <img class="reviews__photo" src="{{ image.path }}" alt="{{ review.title }}">
                {% endfor %}
                <div class="reviews__text">{{ review.content_html|raw }}</div>
                <div class="reviews__author">{{ review.title }}</div>
            </div>
        </div>
        {% else %}
            {{ noPostsMessage }}
        {% endfor %}
    </div>
</div>
