[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "services"
postsPerPage = 6
noPostsMessage = "Статей нет"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "post"
==

{% set services = blogPosts.posts %}

<div class="services">
    {% for service in services %}
    <div class="services__item">
        {% for image in service.featured_images|slice(0, 1) %}
            <img class="services__icon" src="{{ image.path }}" alt="{{ service.title }}">
        {% endfor %}

        <div class="services__title">{{ service.title }}</div>
        <div class="services__text">{{ service.content_html|raw }}</div>
    </div>
    {% else %}
        {{ noPostsMessage }}
    {% endfor %}
</div>
