[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "wedo"
postsPerPage = 10
noPostsMessage = "Ничего не найдено"
sortOrder = "published_at asc"
categoryPage = "home"
postPage = "post"
==

{% set wedoItems = blogPosts.posts %}

<div class="accordion">
    {% for wedo in wedoItems %}
    <div class="accordion__item" data-collapse="wedo_{{ wedo.id }}">
        <div class="accordion__header">
            {% for image in wedo.featured_images|slice(0, 1) %}
                <img class="accordion__icon" src="{{ image.path }}" alt="{{ wedo.title }}">
            {% endfor %}
            <div class="accordion__title">{{ wedo.title }}</div>
        </div>
        <div class="accordion__content" id="wedo_{{ wedo.id }}">
            {{ wedo.content_html|raw }}
        </div>
    </div>
    {% else %}
        {{ noPostsMessage }}
    {% endfor %}
</div><!-- /.accordion -->
